streamlit==1.38.0
torch==2.3.0
torchvision==0.18.0
triton==2.3.0
transformers==4.48.3
langchain==0.3.7
langchain-huggingface==0.1.1
langchain-chroma==0.1.4
chromadb==0.5.5
sentence-transformers==2.6.1
tiktoken==0.7.0
pandas==2.2.2
