streamlit==1.37.0
langchain==0.2.14
langchain-community==0.2.14
langchain-huggingface==0.0.1
langchain-chroma==0.0.5
chromadb==0.4.24
huggingface-hub==0.23.0
sentence-transformers==2.7.0
python-dotenv==1.0.1
torch==2.3.1
